<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>🚀 AdGate</title>



    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <p></p>

        <div class="row">
            <div class="col-md-12 bd-content">
                <h1 class="text-left">🚀 AdGate</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12 bd-content" role="main">
                <form action="/analyse" method="post" id="frm-analyse">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Enter URL to validate</label>
                        <input type="text" id="reqUrl" placeholder="Enter URL" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Wait time(in seconds) before starting validation</label>
                        <input type="number" class="form-control" id="delay" value="3" max="6">
                        <small class="form-text text-muted">If your page is lazy loading images, it is better to wait a few seconds</small>
                    </div>

                    <button id="btn" type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
                <div id="progress"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 bd-content">
                <div id="details"></div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(function () {
            $("#frm-analyse").submit(function (e) {
                e.preventDefault();
                $btn=$("#btn");
                $btn.prop("disabled",true);
                var $progress = $("#progress");
                var url = $(this).attr("action");
                var d = {
                    reqUrl: $("#reqUrl").val(),
                    delay: $("#delay").val(),
                };
                $progress.html("Please be patient, this may take a few seconds...");
                $.ajax({
                    url: url,
                    data: JSON.stringify(d),
                    method: "post",
                    contentType: "application/json"
                }).done(function (result) {
                    $btn.prop("disabled",false);
                    var details =
                        `<div class="alert alert-success">Done!</div><a target="_blank" href="/details/${result.id}">Click here to view details</a>`;
                    $progress.html("");
                    $("#details").html(details);
                });
            });

        });
    </script>
</body>

</html>