<div>
    <h3>Console logging</h4>
    <p>Status :
        <%= getStatusName(model.status) %>
    </p>
    <p>Production code should not write to console</p>
    <h4>What this rule checks</h4>
    <p>If number of console log messages  <5 : Passed </p>
    <p>If number of requests made >5 and <8 : Warning </p>
    <p>If number of requests made >5 : Failed </p>
    <p>Includes warning messages added by browser</p>
    <%
   
    var allRequests = meta;
    if(allRequests)
    {
      
       
        %>
        <table class="table table-striped small">
           
            <% allRequests.forEach(function(item) { %>
                <tr>
                    <td>
                        <%= item %>
                    </td>
                    
                </tr>
                <% }); %>
        </table>
        <%
    }
%>


</div>

