<div>
    <h3>Dialog in page</h4>
    <p>Status :
        <%= getStatusName(model.status) %>
    </p>
    <p>Dialogs like alert/prompt are not a good user experience.</p>
    <h4>What this rule checks</h4>
    <p>If number of dialogs  ==0  : Passed </p>
    <p>If number of dialogs >0 : Failed </p>


</div>

