<div>
    <h4>Rule: Too many DNS lookup</h4>
    <p><strong>Status: <%= getStatusName(model.status) %></strong>
    </p>
    <p>Making calls to different domains requires multiple DNS lookup and connections, which might affect page performance.</p>
    <h4>What this rule checks</h4>
    <ul>
        <li>If unique hostNames are  <5 : Passed</li>
        <li>If unique hostNames are >5 and <8 : Warning</li>
        <li>If unique hostNames are >5 : Failed</li>
    </ul>
</div>

<%

    var allRequests = meta;
    if(allRequests)
    {
        var hostNames = allRequests.map(function(item) {
            return getUrlHostName(item.url);
        });
        var uniqueHostNames = hostNames.filter((v, i, a) => a.indexOf(v) === i);

        %>
        <table class="table table-striped small">
            <thead class="thead">
                <tr>
                    <th>Host name</th>
                </tr>
            </thead>
            <% uniqueHostNames.forEach(function(item) { %>
                <tr>
                    <td>
                        <%= item %>
                    </td>
                </tr>
                <% }); %>
        </table>
        <%
    }
%>