<div>
    <h4>Rule: Too many iframes</h4>
    <p><strong>Status: <%= getStatusName(model.status) %></strong> </p>
    <p>Having too many iframes would affect the user perceived performance</p>
    <h4>What this rule checks</h4>
    <ul>
        <li>If number of frames in the document = 0: Passed </li>
        <li>If number of frames in the document > 1: Failed</li>
    </ul>

    <% if(meta)
    {
    %>
    <div>
       <p>  Frames count : <%= meta.length %></p>
    </div>
    <% } %>
    <hr >
</div>