<div>
    <h3>Too many DOM nodes!</h4>
    <p>Status :
        <%= getStatusName(model.status) %>
    </p>
    <p>Rendering a lot of DOM nodes would hurt performance. Render only the needed nodes.</p>
    <h4>What this rule checks</h4>
    <p>If number of nodes in the document <1500 : Passed </p>
    <p>If number of nodes in the document >1500 and <2000 : Warning </p>
    <p>If number of nodes in the document >2000 : Failed </p>
  
    <% if(meta)
    {
    %>
    <div>
       <p>  Node count : <%= meta.Nodes %></p>
    </div>
    <% } %>
    <hr >
    <h4>Further reading</h4>
    <a href="https://developers.google.com/web/tools/lighthouse/audits/dom-size">Uses An Excessive DOM Size</a>

</div>

