<div>
    <h4>Rule: Too many DOM nodes!</h4>
    <p><strong>Status: <%= getStatusName(model.status) %></strong></p>
    <p>Rendering a lot of DOM nodes will hurt performance. Render only the needed nodes. Consider a lazy loading approach as appropriate.</p>
    <h4>What this rule checks</h4>
    <ul>
        <li>If number of nodes in the document <1500: Passed</li>
        <li>If number of nodes in the document >1500 and <2000: Warning</li>
        <li>If number of nodes in the document >2000: Failed </li>
    </ul>
    <% if(meta)
    {
    %>
    <div>
       <p>  Node count : <%= meta.Nodes %></p>
    </div>
    <% } %>
    <hr >
    <h4>Further reading</h4>
    <a href="https://developers.google.com/web/tools/lighthouse/audits/dom-size">Uses An Excessive DOM Size</a>

    <hr>

</div>

