<div>
    <h3>Too many network calls</h4>
    <p>Status :
        <%= getStatusName(model.status) %>
    </p>
    <p>Making too many calls from the browser will slow down the rendering experience.</p>
    <h4>What this rule checks</h4>
    <p>If number of requests made <5 : Passed </p>
    <p>If number of requests made >5 and <8 : Warning </p>
    <p>If number of requests made >5 : Failed </p>

    <%
   
    var allRequests = meta;
    if(allRequests)
    {
      
       
        %>
        <table class="table table-striped small">
            <thead class="thead">
                <tr>
                    <th>URL</th>
                    <th>Type</th>
                    <th>Method</th>
                </tr>
            </thead>
            <% allRequests.forEach(function(item) { %>
                <tr>
                    <td>
                        <%= item.url %>
                    </td>
                    <td>
                            <%= item.type %>
                    </td>
                    <td>
                            <%= item.method %>
                    </td>
                </tr>
                <% }); %>
        </table>
        <%
    }
%>


</div>

